.button {
  position: absolute;
  cursor: pointer;
  top: 115px;
  left: 115px;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
}