%spacing {
  display: flex;
  border: 1px;
  border-radius: 8px;
}

.container {
  @extend %spacing;
}

.container-hov {
  @extend %spacing;
  background: #f7f7f7;
}

.buttonName {
  color: #717171;
  text-decoration: underline;
  padding-left: 6px;
}

