.container {
  display: grid;
  grid-template: 60px auto / auto;
  row-gap: 10px;
  overflow: hidden;
}

.content {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

@keyframes slideup {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes slidedown {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(100%);
  }
}

.hidden {
  // animation: slidedown 1.0s ease;
  position: absolute;
  top: 0;
  z-index: 1;
  // position: absolute;
  // top: 0;
  display: none;
  // left: 0;
  // width: 99vw;
  // height: 100vh;
}

.show {
  animation: slideup 0.5s ease;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}