.app {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

.images {
  padding-top: 10px;
  display: flex;
}

.small {
  display: flex;
  flex-wrap: wrap;
}

.image-button {
  position: relative;
}