$colour: red;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.owner {
  display: flex;
  padding-top: 10px;
  height: 20px;
}

.text {
  display: flex;
  flex: 8
}

.buttons {
  display: flex;
  flex: 1;
}

.icon {
  height: 14;
  width: 14;
  fill: black;
}