$colour: red;

.header {
  display: flex;
  flex-direction: column;
}

.owner {
  display: flex;
  padding-top: 10px;
  height: 20px;
}

.text {
  display: flex;
  flex: 8
}

.buttons {
  display: flex;
  flex: 1;
}