.container {
  display: flex;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
}

.largeImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.smallImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  height: 350;
}
// .btnContainer {
//   position: relative;
// }