.modal {
  display: grid;
  height: 100vh;
  grid-template: 80px 1fr / auto;
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.p {
  width: 85%;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
  border-radius: 10px;
}

.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.imgContainer {
  width: 70%;
}

.img {
  object-fit: cover;
}

.other {
  height: 50px;
}