.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid 	#B0B0B0;
  height: 60px;
  background-color: #ffffff;
  width: 100%;
}

.location {
  flex: 8;
  padding-right: 60px;
}

.logo {
  flex: 1;
}

.buttonContainer {
  flex: 2;
  display: flex;
  padding-left: 4px;
}